.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 60px;

  &:not(:first-of-type) {
    margin-bottom: 10px;
  }

  input {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 4px;
    color: rgba(0, 0, 0, 0.8);

    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

    &:focus {
      outline: none;
    }
  }

  .inputError {
    display: block;
    color: indianred;
    font-size: 1.4rem;
    margin-top: 0.2rem;
  }
}
